In [4]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame
# 多级Series
s1 = Series(np.random.randn(6),index=[['1','1','1','2','2','2'],['a','b','c','a','b','c']])

In [3]:
s1

1  a    0.033370
   b   -1.374219
   c    0.598667
2  a   -1.285658
   b    2.006254
   c    2.077889
dtype: float64

# 下面一级也是Series

In [5]:
s1['1']

a   -0.830670
b    0.547083
c    0.136985
dtype: float64

In [6]:
type(s1['1'])

pandas.core.series.Series

# 访问

In [7]:
s1[:,'a']

1   -0.830670
2   -0.967371
dtype: float64

In [9]:
s1['1']['a']

-0.8306695465743198

In [10]:
s1

1  a   -0.830670
   b    0.547083
   c    0.136985
2  a   -0.967371
   b   -0.525291
   c   -2.033172
dtype: float64

# # 与DataFrame转换

In [11]:
df1 = s1.unstack()

In [12]:
df1

          a         b         c
1 -0.830670  0.547083  0.136985
2 -0.967371 -0.525291 -2.033172

In [14]:
df2 = DataFrame([s1['1'],s1['2']])

In [15]:
df2

          a         b         c
0 -0.830670  0.547083  0.136985
1 -0.967371 -0.525291 -2.033172

In [ ]:
s2 = df1.unstack()

In [19]:
s2

NameError: name 's2' is not defined

In [20]:
s2

NameError: name 's2' is not defined